---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import HatenaId from '../../components/HatenaId.tsx';
import Date from '../../components/Time';

export const getStaticPaths = async () => {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
	<article>
		<header>
		  <h1>{post.data.title}</h1>
		  <Date date={post.data.date} />
		  { !post.data.published && <aside role='alert'><strong style="color: red;">This article is draft.</strong></aside> }
		</header>
		<Content components={{ HatenaId }} />
	</article>
</Layout>
