---
import { getCollection } from 'astro:content';
import HatenaId from '../../components/HatenaId.tsx';

export const getStaticPaths = async () => {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<head>
<meta charset="utf-8">
</head>
<body>
<Content components={{ HatenaId }} />
</body>