---
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts');
---
<head>
<meta charset="utf-8">
</head>
<body>
<ul>
  {blogEntries.map(blogPostEntry => (
    <li>
      <a href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
    </li>
  ))}
</ul>
</body>