---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts');
---

<Layout>
<ul>
  {blogEntries.map(blogPostEntry => (
    <li>
      <a href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
    </li>
  ))}
</ul>
</Layout>