---
import Date from '../components/Time';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = (await getCollection('posts'))
  .filter((entry: any) => entry.data.published === true)
  .sort((a: any, b: any) => {
    return new globalThis.Date(b.data.date).getTime() - new globalThis.Date(a.data.date).getTime();
  });
---

<Layout>
<h1>記事一覧</h1>
<ul>
  {blogEntries.map((blogPostEntry: any) => (
    <li>
      <article>
        <a href={`/posts/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        <Date date={blogPostEntry.data.date} />  
      </article>
    </li>
  ))}
</ul>
</Layout>
