---
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://toof.jp/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>blog.toof.jp</title>
	</head>
	<body>
		<Nav />
        <slot />
	</body>
</html>

<style is:global>
	html {
		font-family: sans-serif;
	}
	body {
		max-width: 600px;
		margin: 0 auto;
	}

	img, video, iframe {
		max-width: 100%;
		height: auto;
		display: block;
	}
</style>
